.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 50px auto;
    margin-top: 50px;
    padding: 20px;

    & h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 30px;
        margin-bottom: 20px;

        & label {
            font-size: 16px;
            font-weight: bold;;
        }

        & input {
            font-size: 16px;
            padding: 8px;
            border: 2px solid #ccc;
            border-radius: 8px;
        }

        & small {
            color: red;
            font-size: 12px;
        }
    }

    & button {
        width: 60%;
        height: 35px;
        background-color: rgb(49, 81, 87);
        color: white;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: lighten($color: rgb(49, 81, 87), $amount: 8%);
          }
          &:active {
            background: darken($color: rgb(49, 81, 87), $amount: 11%);
          }
    }


    @media (max-width: 768px) {
        width: 70%;
    }

    @media (max-width: 480px) {
        width: 90%;
    }
}