.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 40vw;
    margin-left: 50px;
    margin-top: 50px;

    &__input {
        display: flex;
        width: 100%;
        height: 30px;
        gap: 20px;

        & label {
            display: flex;
            align-items: center;
            width: 80px;
            font-size: 17px;
        }

        & input {
            font-size: 17px;
        }
    }

    & button {
        width: 20vw;
        height: 35px;
        background-color: rgb(49, 81, 87);
        color: white;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: lighten($color: rgb(49, 81, 87), $amount: 8%);
          }
          &:active {
            background: darken($color: rgb(49, 81, 87), $amount: 11%);
          }
    }
}