<div class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Вход</h2>
    <div class="login-form__input">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />
    </div>


    <div class="login-form__input">
        <label for="password">Password</label>
        <input type="text" id="password" formControlName="password" />
    </div>

    <button type="submit" (click)="onSubmit()">Войти</button>


</div>

<router-outlet></router-outlet>