.content {
  margin-top: 40px;
  margin-left: 60px;
  padding-bottom: 60px;

  & .newToDo {
    height: 23px;
    font-size: 17px;
  }

  & .btn-addToDo {
    margin-left: 20px;
    height: 30px;
    background-color: rgb(49, 81, 87);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: lighten($color: rgb(49, 81, 87), $amount: 9%);
    }

    &:active {
      background: darken($color: rgb(49, 81, 87), $amount: 11%);
    }
  }

  & .tasks-container {
    margin-top: 60px;

    & .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
      height: 40px;
      margin-top: 20px;

      & .task-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 15px;
      }

      & .buttons-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;

        & button {
          margin-left: 5px;
          height: 25px;
          background-color: rgb(49, 81, 87);
          color: white;
          border-radius: 15px;
          cursor: pointer;
          transition: background 0.2s ease-in-out;

          &:hover {
            background: lighten($color: rgb(49, 81, 87), $amount: 9%);
          }

          &:active {
            background: darken($color: rgb(49, 81, 87), $amount: 11%);
          }
        }
      }

    }
  }
}

.done {
  background-color: #6bfc43;
  border-radius: 8px;
}