.content {
  margin-top: 40px;
  margin-left: 60px;
  padding-bottom: 60px;

  & .selectDate {
    height: 23px;
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
  }

  & .newToDo {
    height: 23px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 8px;
  }

  & .btn-addToDo {
    margin-left: 20px;
    height: 30px;
    width: 150px;
    background-color: rgb(49, 81, 87);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: lighten($color: rgb(49, 81, 87), $amount: 9%);
    }

    &:active {
      background: darken($color: rgb(49, 81, 87), $amount: 11%);
    }
  }

  & .tasks-container {
    margin-top: 60px;

    & .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      height: 40px;
      margin-top: 20px;
      padding: 10px;

      & .task-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 15px;
      }

      & .task-date {
        display: flex;
        margin-bottom: 10px;
      }

      & .buttons-container {
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;

        & button {
          margin-left: 8px;
          height: 25px;
          background-color: rgb(49, 81, 87);
          color: white;
          border-radius: 15px;
          cursor: pointer;
          transition: background 0.2s ease-in-out;

          &:hover {
            background: lighten($color: rgb(49, 81, 87), $amount: 9%);
          }

          &:active {
            background: darken($color: rgb(49, 81, 87), $amount: 11%);
          }
        }
      }

    }
  }
}

.done {
  display: flex;
  background-color: #6bfc43;
  border-radius: 8px;
  max-width: 90%;
  padding: 0;
}


@media (max-width: 768px) { 
  .content {
      margin-left: 10px;
  }
  .content h1 {
      font-size: 1.8rem;
  }
}

@media (max-width: 480px) { 
  .content {
      margin-left: 0;
      margin-top: 10px;
  }
  .content h1 {
      font-size: 1.5rem;
      text-align: center;
  }
  .content .tasks-container .container {
      flex-direction: column; 
      align-items: flex-start;
      padding: 5px; 
  }
  .content .tasks-container .container .task-text {
      flex-grow: 0;
      width: auto;
      text-align: left; 
      margin-bottom: 10px; 
  }
  .content .tasks-container .container .task-date {
      text-align: left; /* Выравниваем текст по левому краю */
  }
}
