<div class="content">
    <h1>To Do List</h1>

    <input class="newToDo" [(ngModel)]="newToDo">
    <input class="selectDate" type="date" [(ngModel)]="selectDate">
    <button class="btn-addToDo" (click)="addToDo()">Добавить задачу</button>

    <div class="tasks-container">
        <div class="container" *ngFor="let task of toDoList" [class.done]="task.isDone === true">
            <div class="task-text">{{ task.name }}</div>
            <div class="task-date">{{ task.date | date: 'dd.MM.yyyy' }}</div>
            <div class="buttons-container">
                <button *ngIf="!task.isDone" (click)="markDone(task)">Готово</button>
                <button (click)="removeToDo(task)">Удалить</button>
            </div>
        </div>
    </div>

</div>