<header>
    <div class="headerLeft">
        <a [routerLink]="['/todo']" routerLinkActive="active">
            <img src="../assets/img/logo.png" alt="logo">
            <div class="headerLeft__info">
                <h3>Personal Area</h3>
                <p>Личный кабинет</p>
            </div>
        </a>
    </div>

    <ul class="headerRight">
        <li class="headerRight__profile">
            <a [routerLink]="['/profile']" routerLinkActive="active">
                <img style="height: 32px; width: 32px;" src="../assets/img/user.png" alt="user">
            </a>
        </li>

        <li class="headerRight__login">
            <a [routerLink]="['/login']" routerLinkActive="active">
                <img style="height: 35px; width: 35px;" src="../assets/img/login.png" alt="login">
            </a>
        </li>
    </ul>
</header>